<template>
    <div class="row application-form">
        <div class="col">
            <form id="#application-form">
                <p class="label-details">Personal details*</p>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="text" v-validate="'required'"
                            class="form-control firstname" name="firstname"
                            id="firstname" placeholder="First name" v-model="firstname">
                        <small class="form-error text-danger">
                        {{ errors.first('firstname') }}</small>
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" v-validate="'required'"
                            class="form-control surname" name="surname"
                            id="surname" placeholder="Surname" v-model="surname">
                        <small class="form-error text-danger">
                        {{ errors.first('surname') }}</small>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="text" v-validate="'required|date_format:dd/mm/yyyy'"
                            class="form-control dob" name="date of birth"
                            id="dob" placeholder="Date of birth (dd/mm/yyyy)" v-model="dob">
                        <small class="form-error text-danger">
                        {{ errors.first('date of birth') }}</small>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio"
                                    v-validate="'required'" v-model="sex"
                                    name="sex" id="sex1" value="Male">
                                <label class="form-check-label" for="sex1">Male</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio"
                                    v-validate="'required'" v-model="sex"
                                    name="sex" id="sex2" value="Female">
                                <label class="form-check-label" for="sex2">Female</label>
                            </div>
                        </div>
                        <small class="form-error text-danger sex">
                        {{ errors.first('sex') }}</small>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="text" v-validate="'required'"
                            class="form-control address" name="address"
                            id="address" placeholder="Address" v-model="address">
                        <small class="form-error text-danger">
                        {{ errors.first('address') }}</small>
                    </div>
                    <div class="form-group col-md-3">
                        <input type="text" v-validate="'required'" v-model="housenumber"
                            class="form-control housenumber" name="housenumber"
                            id="housenumber" placeholder="House number">
                        <small class="form-error text-danger">
                        {{ errors.first('housenumber') }}</small>
                    </div>
                    <div class="form-group col-md-3">
                        <input type="text"
                            v-validate="{ required: true, regex: /^\d{4} ?[a-z]{2}$/i }"
                            class="form-control zipcode" name="zipcode"
                            id="zipcode" placeholder="Zip code" v-model="zipcode">
                        <small class="form-error text-danger">
                        {{ errors.first('zipcode') }}</small>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="text" v-validate="'required'"
                            class="form-control city" name="city"
                            id="city" placeholder="City" v-model="city">
                        <small class="form-error text-danger">
                        {{ errors.first('city') }}</small>
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" v-validate="'required'"
                            class="form-control country" name="country"
                            id="country" placeholder="Country" v-model="country">
                        <small class="form-error text-danger">
                        {{ errors.first('country') }}</small>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input v-validate="'required|email'" name="email" type="text"
                            id="email" placeholder="Email address" v-model="email">
                        <small class="form-error text-danger email">
                        {{ errors.first('email') }}</small>
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" v-validate="'required|digits:10'"
                            class="form-control number" name="phone number"
                            id="number" placeholder="Phone number" v-model="phonenumber">
                        <small class="form-error text-danger">
                        {{ errors.first('phone number') }}</small>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="motivation">Your motivation*</label>
                        <textarea class="form-control" id="motivation" v-model="motivation"
                            rows="5" name="motivation" v-validate="'required'"
                            placeholder="Type your motivation here"></textarea>
                        <small class="form-error text-danger">
                        {{ errors.first('motivation') }}</small>
                    </div>
                    <div class="form-group col-md-6 attachments">
                        <p class="label-details">Attach your documents
                            (pdf, doc(x), rtf, txt max. 4 Mb)</p>
                        <div class="row resume">
                            <div class="col-3">
                                <p class="label-details">Resume*</p>
                            </div>
                            <div class="col-9">
                                <FileUploadButton title="resume"
                                    v-validate="'required|ext:docx,doc,pdf,rtf,txt|size:4096'"
                                    name="resume" v-model="resume" />
                            </div>
                        </div>
                        <div class="row portfolio">
                            <div class="col-3">
                                <p class="label-details">Portfolio</p>
                            </div>
                            <div class="col-9">
                                <FileUploadButton title="portfolio"
                                    v-validate="'ext:docx,doc,pdf,rtf,txt|size:4096'"
                                    name="portfolio" v-model="portfolio" />
                            </div>
                        </div>
                        <div class="row photo">
                            <div class="col-3">
                                <p class="label-details">Photo</p>
                            </div>
                            <div class="col-9">
                                <FileUploadButton title="photo"
                                    v-validate="'ext:docx,doc,pdf,rtf,txt|size:4096'"
                                    name="photo" v-model="photo" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <small class="form-error text-danger resume">
                                    {{ errors.first('resume') }}</small><br>
                                <small class="form-error text-danger">
                                    {{ errors.first('portfolio') }}</small><br>
                                <small class="form-error text-danger">
                                    {{ errors.first('photo') }}</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row lower-navigation">
                    <div class="col-md-4 col-lg-6">
                        <p v-on:click="$router.push({ name: 'JobDescription' });">
                            <i class="fas fa-angle-left"></i> Back to Job Description</p>
                    </div>
                    <div class="col-md-4 col-lg-3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="" id="copy">
                            <label class="form-check-label" for="copy">
                                Send me a copy
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3">
                        <button type="submit" class="btn btn-primary submit"
                            v-on:click="onSubmit">Apply for this job</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
import FileUploadButton from './FileUploadButton';

/* eslint-disable */
export default {
    name: 'ApplicationForm',
    components: {
        FileUploadButton,
    },
    data() {
        return {
            firstname: '',
            surname: '',
            dob: '',
            sex: '',
            address: '',
            housenumber: '',
            zipcode: '',
            city: '',
            country: '',
            email: '',
            phonenumber: '',
            motivation: '',
            resume: '',
            portfolio: '',
            photo: '',
        };
    },
    methods: {
        onSubmit(event) {
            event.preventDefault();
            this.$validator.validate().then(function (valid) {
                if (valid) {
                    const url = 'https://script.google.com/macros/s/AKfycbz_2_l1MbbBe4MKrgs_wC-_Xps1SfBQtWzR2yLFD36I-_YdyZ9Z/exec';
                    axios.get(url, {
                        params: {
                            firstname: this.firstname,
                            surname: this.surname,
                            dob: this.dob,
                            sex: this.sex,
                            address: this.address,
                            housenumber: this.housenumber,
                            zipcode: this.zipcode,
                            city: this.city,
                            country: this.country,
                            email: this.email,
                            phonenumber: this.phonenumber,
                            motivation: this.motivation,
                            resume: this.resume,
                            portfolio: this.portfolio,
                            photo: this.photo,
                        },
                    }).then(function () {
                        this.$router.push({ name: 'JobApplied' });
                    }.bind(this));
                }
            }.bind(this));
        },
    },
};
</script>

<style lang="scss" scoped>
form {
    width: 100%;
}

input, textarea {
    width: 100%;
    border: none;
    padding: 8px;
    align-self: flex-end;
    margin-bottom: 10px;
}

.form-row>.col, .form-row>[class*=col-] {
    padding-left: 15px;
    padding-right: 15px;
}

small {
    &.form-error {
        position: absolute;
        margin-top: -8px;
    }
}

.label-details {
    padding-left: 10px;
}

.btn {
    &.submit {
        margin-left: -10px;
        width: 100%;

        @media screen and (max-width: 767px) {
            margin-left: 0;
            margin-top: 20px;
        }
    }
}

.form-check-inline {
    min-width: 80px;
    text-align: left;
}

.form-check-label {
    margin-bottom: -10px;
}

.form-check-inline .form-check-input {
    margin-left: 0;
    margin-top: 13px;
    margin-right: .8rem;
    margin-bottom: 0;
    width: auto;
}

.application-form {
    padding-top: 30px;
    padding-bottom: 30px;
}

.text-danger {
    &.sex {
        margin-top: -14px !important;

        @media screen and (max-width: 767px) {
            margin-top: -20px !important;
        }
    }

    &.email {
        width: 100%;
        bottom: -11px;
        left: 15px;
    }
}

.lower-navigation {
    margin-top: 50px;

    p {
        color: #aaaaaa;
        margin-top: 8px;

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }

        @media screen and (max-width: 767px) {
            margin-left: 20px;
        }
    }

    input {
        @media screen and (max-width: 767px) {
            margin-left: 20px !important;
        }
    }

    label {
        color: #aaaaaa;

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}
</style>
