<template>
    <div>
        <label :for="_uid" class="btn btn-primary">Upload</label>
        <input :id="_uid" v-on:change="onuploadchange" :name="name"
            accept=".doc,.docx,.pdf,.rtf,.txt" type="file"/>
        <small>{{ filename }}</small>
    </div>
</template>

<script>
export default {
    name: 'FileUploadButton',
    data() {
        return {
            filename: '',
            files: [],
        };
    },
    props: ['name'],
    methods: {
        onuploadchange(event) {
            this.files = Array.from(event.target.files);
            this.filename = this.files[0].name;
            this.$emit('input', this.files);
        },
    },
    $_veeValidate: {
        name() {
            return this.name;
        },
        value() {
            return this.files;
        },
    },
};
</script>

<style scoped>
input[type="file"] {
    display: none;
}
</style>
