<template>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-lg-3 jobs">
                    <p>Jobs at</p>
                    <ul>
                        <li><a href="https://endouble.com/">Home</a></li>
                        <li><a href="https://workingatendouble.com/">Jobs</a></li>
                        <li><a href="https://endouble.com/about/">About</a></li>
                        <li><a href="https://endouble.com/services/">Department</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-lg-3 information">
                    <p>Information</p>
                    <ul>
                        <li><a href="https://workingatendouble.com/get-to-know-us/">
                            F.A.Q.</a>
                        </li>
                        <li><a href="https://workingatendouble.com/get-to-know-us/">
                            Application process</a>
                        </li>
                        <li><a href="https://workingatendouble.com/privacy-cookie-statement/">
                            Privacy policy</a>
                        </li>
                        <li><a href="https://workingatendouble.com/contact/">
                            Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 col-lg-3 social">
                    <p>Follow us</p>
                    <div class="row">
                        <div class="col-6">
                            <ul>
                                <li><a href="">
                                    <i class="fas fa-envelope"></i>
                                    Newsletter</a>
                                </li>
                                <li><a href="https://www.instagram.com/">
                                    <i class="fab fa-instagram"></i>
                                    Instagram</a>
                                </li>
                                <li><a href="https://www.twitter.com/">
                                    <i class="fab fa-twitter"></i>
                                    Twitter</a>
                                </li>
                                <li><a href="https://www.tumblr.com/">
                                    <i class="fab fa-tumblr"></i>
                                    Tumblr</a>
                                </li>
                                <li><a href="https://www.linkedin.com/">
                                    <i class="fab fa-linkedin"></i>
                                    Linkedin</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul>
                                <li><a href="https://www.facebook.com/">
                                    <i class="fab fa-facebook"></i>
                                    Facebook</a>
                                </li>
                                <li><a href="https://www.pinterest.com/">
                                    <i class="fab fa-pinterest"></i>
                                    Pinterest</a>
                                </li>
                                <li><a href="https://www.youtube.com/">
                                    <i class="fab fa-youtube"></i>
                                    YouTube</a>
                                </li>
                                <li><a href="https://plus.google.com/">
                                    <i class="fab fa-google-plus-g"></i>
                                    Google+</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 job-alert">
                    <p>Job alert</p>
                    <ul>
                        <li><a href="https://workingatendouble.com/job-alert/">
                            Subscribe to our job alert</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Footer',
};
</script>

<style lang="scss" scoped>
.footer {
    padding-top: 30px;
    padding-bottom: 30px;

    p {
        text-transform: uppercase;
        color: 303030;
    }

    ul {
        padding-left: 0;
        margin-bottom: 20px;
    }

    li {
        list-style-type: none;
        font-size: 12px;
        margin-bottom: 5px;

        @media screen and (max-width: 991px) {
            font-size: 10px;
        }
    }

    a {
        color: #aaaaaa !important;

        &:hover {
            text-decoration: none;
        }
    }

    i {
        border: 1px solid #aaaaaa;
        border-radius: 50%;
        font-size: 10px;
        width: 18px;
        height: 18px;
        padding-left: 3px;
        padding-top: 3px;

        &.fa-tumblr {
            padding-left: 5px;
        }

        &.fa-facebook {
            padding-left: 4px;
        }

        &.fa-google-plus-g {
            padding-left: 2px;
        }

        &.fa-caret-right {
            border: none;
            font-size: 14px;
            position: absolute;
            right: 20px;
            bottom: 30px;
        }
    }

    .jobs, .information {
        display: block;

        @media screen and (max-width: 767px) {
            display: none;
        }
    }

    .jobs {
        padding-left: 25px;
    }

    .social {
        .col-6 {
            padding-right: 0;
        }
    }
}
</style>
