<template>
    <div class="header">
        <div class="row header-line1">
            <div class="col-1 d-md-none">
                <nav role="navigation">
                    <div id="menuToggle">
                        <input type="checkbox" />
                        <span></span>
                        <span></span>
                        <span></span>
                        <ul id="menu">
                            <li><a href="">Home</a></li>
                            <li><a href="/">Jobs</a></li>
                            <li><a href="">About</a></li>
                            <li><a href="">Departments</a></li>
                            <li><a href="">Contact</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="col-2 logo">
                <h3><a href="/">Logo</a></h3>
            </div>
            <div class="col-md-6 d-none d-md-block">
                <ul class="menu-desktop">
                    <li><a href="">Home</a></li>
                    <li><a href="/">Jobs</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Departments</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-3 d-none d-md-block search-bar">
                <input type="text"
                    class="form-control search" name="search"
                    id="search" placeholder="Search for jobs">
            </div>
            <div class="col-9 col-md-1 text-right notification">
                <i class="fas fa-briefcase"></i>
            </div>
        </div>
        <div class="row">
            <div class="col d-md-none search-bar">
                <input type="text"
                    class="form-control search" name="search"
                    id="search" placeholder="Search for jobs">
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Header',
};
</script>

<style lang="scss" scoped>
.header {
    background: #000000;
    color: #ffffff;

    li {
        list-style-type: none;
        display: inline-block;
        margin: 0 10px;
        a {
            color: #ffffff;

            @media screen and (max-width: 767px) {
                font-size: 18px;
            }
        }
    }
}

#menuToggle {
    display: block;
    position: relative;
    top: 15px;
    left: 15px;
    position: fixed;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #ffffff;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    position: fixed;
    top: 0;
    left: 0;
    height: 120%;
    background: #888888;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
    display: block;
    margin-left: 40px;
    text-transform: uppercase;

    &:first-child {
        margin-top: 60px;
    }
}

#menuToggle input:checked ~ ul {
    transform: none;
}

.header-line1 {
   min-height: 52px;
}

.search-bar {
    input {
        margin-left: 15px;
        width: calc(100% - 30px);
        margin-bottom: 10px;
        margin-top: 7px;

        @media screen and (max-width: 767px) {
            margin-top: 0;
        }
    }
}

.logo {
    h3 a {
        text-transform: uppercase;
        margin-left: 25px;
        margin-top: 12px;
        color: #ffffff;
        font-size: 26px;
        display: block;

        @media screen and (max-width: 767px) {
            font-size: 20px;
            margin-top: 15px;
        }
    }
}

.notification {
    i {
        font-size: 30px;
        margin-top: 10px;
        margin-right: 15px;
    }
}

.menu-desktop {
    padding-top: 15px;
    margin-bottom: 0;

    li {
        text-transform: uppercase;
    }
}
</style>
