<template>
    <div class="job-page">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h3>Thank you for your application!</h3>
                    <p>We have received your application and will be in touch with you soon.</p>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <a v-on:click="$router.push({ name: 'JobDescription' });">Go back to Jobs</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'JobApplied',
};
</script>

<style scoped>
a {
    text-decoration: underline !important;
    color: #aaaaaa !important;
    cursor: pointer;
}
</style>
