<template>
    <div class="job-page">
        <div class="tags text-center">
            <div class="container">
                <ul>
                    <li>The Netherlands</li>
                    <li>Retail</li>
                    <li>November 10, 2015</li>
                </ul>
            </div>
        </div>
        <div class="row hero">
            <div class="col text-center">
                <h1>Purchasing assistant</h1>
                <h3>Amsterdam, the Netherlands</h3>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h5>Job Description</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Nibh venenatis cras sed felis eget velit. Elit eget gravida cum
                        sociis natoque penatibus et. Porttitor rhoncus dolor purus non enim.
                        Maecenas volutpat blandit aliquam etiam erat velit scelerisque in.
                        Eleifend quam adipiscing vitae proin sagittis. Consectetur lorem
                        donec massa sapien faucibus et molestie ac feugiat. Augue mauris
                        augue neque gravida in fermentum et sollicitudin ac. Elit sed
                        vulputate mi sit amet mauris commodo quis.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5>Task and Responsibilities</h5>
                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                        <li>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Nibh venenatis cras sed felis eget velit
                        </li>
                        <li>Elit eget gravida cum sociis natoque penatibus et</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                        <li>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Nibh venenatis cras sed felis eget velit
                        </li>
                        <li>Elit eget gravida cum sociis natoque penatibus et</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                        <li>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Nibh venenatis cras sed felis eget velit
                        </li>
                        <li>Elit eget gravida cum sociis natoque penatibus et</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5>Profile</h5>
                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                        <li>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Nibh venenatis cras sed felis eget velit
                        </li>
                        <li>Elit eget gravida cum sociis natoque penatibus et</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                        <li>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Nibh venenatis cras sed felis eget velit
                        </li>
                        <li>Elit eget gravida cum sociis natoque penatibus et</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                        <li>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Nibh venenatis cras sed felis eget velit
                        </li>
                        <li>Elit eget gravida cum sociis natoque penatibus et</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col text-center cta">
                    <button class="btn btn-primary apply"
                        v-on:click="$router.push({ name: 'JobDescriptionForm' });">
                        Apply now</button>
                    <i class="fas fa-briefcase"></i>
                </div>
            </div>
            <div class="row social-share">
                <div class="col">
                    <p>Share this job</p>
                    <ul>
                        <li><i class="fab fa-twitter"></i></li>
                        <li><i class="fab fa-facebook"></i></li>
                        <li><i class="fab fa-linkedin"></i></li>
                        <li><i class="fab fa-google-plus-g"></i></li>
                        <li><i class="fas fa-envelope"></i></li>
                        <li><i class="fas fa-print"></i></li>
                    </ul>
                </div>
            </div>
            <div class="row similar-jobs">
                <div class="col text-center">
                    <h5>Other jobs in retail</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Retail Area Manager</h5>
                            <p>Antwerp, Belgium</p>
                        </div>
                        <div class="col-md-6">
                            <h5>Nothing found?</h5>
                            <p><a href="https://workingatendouble.com/job-alert/">
                            Subscribe to our job alert</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row faq">
            <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="text-center">About the department</h5>
                            <ul>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                <li>Morbi dapibus sem et magna porta, a cursus justo eleifend.</li>
                                <li>Mauris nec elit sed lacus viverra blandit at ut erat.</li>
                                <li>Aenean sollicitudin lacus vel sem convallis semper.</li>
                            </ul>
                            <p><a href="https://workingatendouble.com/get-to-know-us/">Continue reading</a></p>
                        </div>
                        <div class="col-md-6 video">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/9xwazD5SyVg"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'JobDescription',
};
</script>

<style lang="scss" scoped>
.faq {
    height: auto;
    background: url(../assets/background-faq.jpg);
    background-attachment: fixed;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    margin: 0;

    .container {
        padding-left: 30px;
        padding-right: 30px;

        .row {
            background: #ffffff;
            height: auto;
            padding: 25px 10px;

            @media screen and (max-width: 767px) {
                height: auto;
            }
        }
    }
}

.social-share {
    p {
        font-weight: 700;
        text-transform: uppercase;
    }

    li {
        list-style-type: none;
        display: inline-block;
    }

    ul {
        padding-left: 0;
    }

    i {
        border: 1px solid #aaaaaa;
        background: #aaaaaa;
        border-radius: 50%;
        font-size: 18px;
        width: 28px;
        height: 28px;
        padding-left: 5px;
        padding-top: 4px;
        color: #ffffff;

        &.fa-envelope {
            padding-left: 4px;
        }

        &.fa-facebook {
            padding-left: 6px;
        }

        &.fa-google-plus-g {
            padding-left: 4px;
        }
    }
}

.similar-jobs {
    margin-bottom: 30px;

    .col, .col-md-6 {
        border: 1px solid #aaaaaa;
        padding-top: 10px;
    }

    .col {
        margin-left: 15px;
        margin-right: 15px;
    }

    h5 {
        text-transform: uppercase;
    }
}

.tags {
    background: #ffffff;
    border-bottom: 1px solid #a9a9a9;
    padding-top: 20px;
    padding-bottom: 7px;
    margin-top: -30px;

    ul {
        display: flex;
        justify-content: space-between;
        padding-left: 0;
    }

    li {
        list-style-type: none;
        display: inline-block;
        color: #000000;
    }
}

.hero {
    height: 300px;
    margin: 0 0 30px 0;
    background: url(../assets/background-hero.jpg);
    background-position: 100% 70%;
    background-attachment: fixed;
    color: #ffffff;
    padding-top: 80px;

    @media screen and (max-width: 767px) {
        height: auto;
        padding-bottom: 30px;
        padding-top: 30px;
    }
}

.video {
    position: relative;
    overflow: hidden;
    padding-top: 0;
    min-height: 300px;

    @media screen and (max-width: 767px) {
        padding-top: 200px;
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}

.btn {
    margin-top: -8px;

    &.apply {
        text-transform: uppercase;
        padding-left: 50px;
        padding-right: 50px;
    }
}

.cta {
    margin-bottom: 22px;

    i {
        font-size: 22px;
        margin-left: 30px;
        background: #ffffff;
        color: #005c9d;
        padding: 9px;
        margin-top: 5px;
    }
}
</style>
