<template>
    <div class="job-page">
        <div class="row hero">
            <div class="col text-center">
                <h1>Purchasing assistant</h1>
                <h3>Amsterdam, the Netherlands</h3>
            </div>
        </div>
        <div class="container application">
            <div class="row">
                <div class="col text-center">
                    <h2>Apply for the position of Purchasing assistant</h2>
                </div>
            </div>
            <ApplicationForm />
        </div>
        <div class="row faq">
            <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="text-center">Application procedure</h5>
                            <ul>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                <li>Morbi dapibus sem et magna porta, a cursus justo eleifend.</li>
                                <li>Mauris nec elit sed lacus viverra blandit at ut erat.</li>
                                <li>Aenean sollicitudin lacus vel sem convallis semper.</li>
                            </ul>
                            <p><a href="https://workingatendouble.com/get-to-know-us/">Continue reading</a></p>
                        </div>
                        <div class="col-md-6">
                            <h5 class="text-center">Got a question?</h5>
                            <p>Please contact recruitment</p>
                            <p>T. +31 20 123 456 78<br>
                                Or <a href="https://endouble.com/contact/">send us an email</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import ApplicationForm from './ApplicationForm';

export default {
    name: 'JobDescriptionForm',
    components: {
        ApplicationForm,
    },
};
</script>

<style lang="scss" scoped>
.hero {
    height: 300px;
    margin: -30px 0 0 0;
    background: url(../assets/background-hero.jpg);
    background-position: 100% 70%;
    background-attachment: fixed;
    color: #ffffff;
    padding-top: 80px;

    @media screen and (max-width: 767px) {
        height: auto;
        padding-bottom: 30px;
        padding-top: 30px;
    }
}

.faq {
    height: auto;
    background: url(../assets/background-faq.jpg);
    background-attachment: fixed;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    margin: 0;

    .container {
        padding-left: 40px;
        padding-right: 40px;

        .row {
            background: #ffffff;
            height: auto;
            padding: 25px 10px;

            @media screen and (max-width: 767px) {
                height: auto;
            }
        }
    }
}

.application {
    padding-top: 30px;
}
</style>
