<template>
    <div id="app">
        <Header />
        <router-view/>
        <Footer />
    </div>
</template>

<script>
import Header from './components/Header';
import Footer from './components/Footer';

/* eslint-disable */
export default {
    name: 'App',
    components: {
        Header,
        Footer,
    },
};
</script>

<style lang="scss">
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';
@import url('https://fonts.googleapis.com/css?family=Muli|Noto+Sans:400,700|Yanone+Kaffeesatz');

html, body {
    overflow-x: hidden;
}

.job-page {
    min-height: 60vh;
    background: #f7f7f7;
    padding-top: 30px;
    padding-bottom: 30px;
}

h1 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #ffffff;

    @media screen and (max-width: 767px) {
        font-size: 40px;
    }
}

h2 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    color: #000000;
    font-weight: 700;

    @media screen and (max-width: 767px) {
        font-size: 24px;
    }
}

h3 {
    font-family: 'Muli', sans-serif;
    font-size: 26px;
    text-transform: uppercase;

    @media screen and (max-width: 767px) {
        font-size: 20px;
    }
}

h4 {
    font-family: 'Muli', sans-serif;
    font-size: 24px;

    @media screen and (max-width: 767px) {
        font-size: 18px;
    }
}

h5 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: #000000;

    @media screen and (max-width: 767px) {
        font-size: 18px;
    }
}

p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    color: #666666;

    @media screen and (max-width: 767px) {
        font-size: 12px;
    }
}

ul {
    padding-left: 20px;
}

li {
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    color: #666666;

    @media screen and (max-width: 767px) {
        font-size: 12px;
    }
}

a {
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    color: #aaaaaa;

    @media screen and (max-width: 767px) {
        font-size: 12px;
    }

    &:hover {
        color: #aaaaaa;
    }
}

label, p.label-details, input.form-control {
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    color: #000000;

    @media screen and (max-width: 767px) {
        font-size: 12px;
    }
}

.btn {
    &.btn-primary {
        background: #005c9d;
        border-radius: 0;
        border: none;
        text-transform: uppercase;

        &:hover {
            background: #009ccc;
        }
    }
}

input {
    border-radius: 0;
}
</style>
